<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<style>
    a {
        display: inline;
    }</style>
<body>
<p>
    <a th:attr="href='/users/create'">Create new user</a>
</p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>AGE</th>
        <th colspan="3">ACTION</th>
    </tr>
    <tr th:each="user : ${page.items}">
        <td th:text="${user.id}"/>
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.age}"/>
        <td><a th:attr="href='/users/' + ${user.id}">show</a></td>
        <td><a th:attr="href='/users/' + ${user.id} + '/edit'">edit</a></td>
        <td><a th:attr="href='/users/' + ${user.id} + '/delete'">delete</a></td>
    </tr>
</table>

<span th:if="${page.pageCount gt 0}">
    <a th:attr="href='/users?page=1'">first</a>
    <a th:if="${page.page ne 1}" th:attr="href='/users?page=' + ${page.page - 1}">prev</a>
        <th:block th:each="i : ${#numbers.sequence(1, page.pageCount)}">
            <span th:if="${page.page eq i} ">...</span>
            <span th:unless="${page.page eq i}">
                    <a th:if="${i lt page.page + 4 and i gt page.page - 4}" th:attr="href='/users?page=' + ${i}"
                       th:text="${i}"></a>
            </span>
        </th:block>
    <a th:if="${page.page lt page.pageCount}" th:attr="href='/users?page=' + ${page.page + 1}">next</a>
    <a th:attr="href='/users?page=' + ${page.pageCount}">last</a>
</span>
</body>
</html>