<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>First name:</td>
        <td th:text="${user.firstName}"/>
    </tr>
    <tr>
        <td>Last name:</td>
        <td th:text="${user.lastName}"/>
    </tr>
    <tr>
        <td>Age:</td>
        <td th:text="${user.age}"/>
    </tr>
    <tr>
        <td><a th:attr="href='/users'">continue</a></td>
        <td><a th:attr="href='/users/' + ${user.id} + '/edit'">edit</a></td>
        <td><a th:attr="href='/users/' + ${user.id} + '/delete'">delete</a></td>
    </tr>
</table>
</body>
</html>
